.TilteForm{
  position: relative;
  top: -19px;
}
.title1{
  position: relative;
  top: -28px;
}
.title2{
  position: relative;
  top: -12px;
}
.title3{
  position: relative;
  top: 11px;
  right: 50px;
}
