@import "config";

.supervisor{

  .top_arrow_menu{
    display: table;
    margin: auto;
    height: 300px;
    ul{
      li{
        width: 100px;
        float: right;
        height: 250px;
        background-color: #cccccc;
        color: white;
        position: relative;
        margin: 0 10px;
        border-color: #cccccc;
        cursor: pointer;
        @include transition(.2s);
        i{
          display: block;
          clear: both;
          float: none;
          margin: 7px auto;
          @include transform(scale(1.5));
          &.icon-font{
            font-size: 2em;
            text-align: center;
            line-height: 1.5em;
          }
        }
        span{
          @include transition(.2s);
          width: 200px;
          display: block;
          transform: rotate(-90deg);
          transform-origin: center;
          position: relative;
          right: -50px;
          top: 105px;
          font-size: .9em;
          visibility: visible;
        }
        &.not-active{
          height: 50px;
          span{
            @include n_transition(all .05s ease-out);
            visibility: hidden;
          }
          &:hover{
            span{
              @include n_transition(all .2s .1s ease-in);
            }
          }
        }
        &:after{
          @include triangle3eq(bottom,#ccc,50px);
          border-top-color: inherit;
          position: absolute;
          left: 0;
          bottom: -50px;
          z-index: -11,
        }
        &:hover:not(.active){
          height: 300px;
          span{
            visibility: visible;
            top: 155px;
          }
        }
        &.green{
          background-color: #54b37f !important;
          border-color: #54b37f !important;
        }
        &.gray{
          background-color: #4d4d4d !important;
          border-color: #4d4d4d !important;
        }
        &.red{
          background-color: #e65027 !important;
          border-color: #e65027 !important;
        }
        &.blue{
          background-color: #0072ff !important;
          border-color: #0072ff !important;
        }
        &.orange{
          background-color: #ff910a !important;
          border-color: #ff910a !important;
        }
        @include top_arrow_menu_child($array_of_color,0);
      }
      &:hover{
        li{
          &:not(hover):not(.active){
            background-color: #cccccc;
            border-color: #cccccc;
            color: white;
          }
          &.green:hover{
            background-color: #54b37f !important;
            border-color: #54b37f !important;
          }
          &.gray:hover{
            background-color: #4d4d4d !important;
            border-color: #4d4d4d !important;
          }
          &.red:hover{
            background-color: #e65027 !important;
            border-color: #e65027 !important;
          }
          &.blue:hover{
            background-color: #0072ff !important;
            border-color: #0072ff !important;
          }
          &.orange:hover{
            background-color: #ff910a !important;
            border-color: #ff910a !important;
          }
          @include top_arrow_menu_child($array_of_color,1);
        }
      }
    }
  }
  @media only screen and (max-width: 750px){
    .top_arrow_menu{
      ul{
        li{
          width: 65px;
          &:after{
            border-width: 32px;
            bottom: -32px;
          }
          span{
            right: -68px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 526px){
    .top_arrow_menu{
      ul{
        li{
          width: 46px;
          &:after{
            border-width: 23px;
            bottom: -23px;
          }
          i,svg{
            font-size: 1.3em !important;
          }
          span{
            right: -77px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 398px){
    .top_arrow_menu{
      ul{
        li{
          width: 30px;
          &:after{
            border-width: 15px;
            bottom: -15px;
          }
          i,svg{
            font-size: 1.1em !important;
          }
          span{
            right: -85px;
          }
        }
      }
    }
  }

  .box-shadow{
    @include box-shadow(0px 0px 4px 1px $gray);
  }

  .search{
    ::-webkit-input-placeholder {
      color: $blue;
    }
    :-ms-input-placeholder {
      color: $blue;
    }
    ::placeholder {
      color: $blue;
    }
    .h-line{
      background-color: $blue;
      height: 2px;
    }
    .header-logo-bg{
      width: 55px;
      height: 55px;
      margin-top: -2em;
    }
    .css-bg1rzq-control{
      border-radius: 20px;
      @include box-shadow(0px 0px 4px 1px $gray);
      border: 0;
      padding: 4px 0;
    }
    @media only screen and (max-width: 655px){
      input{
        font-size: .8em;
      }
    }
  }

  /*pagination sec*/
  .requstedCourses{
    ul{
      .btn-pages{
        width: 35px;
        height: 35px;
        padding: 5px;
      }
      .active{
        border: 3px solid $green;
      }
      .deactive{
        border: 3px solid transparent;
      }
    }
  }
  /*Table*/
  .table-title{
    background-color: $dark;
    @include border-radius(20px);
    div{
      font-size: .9em;
    }
  }
  .contentsTbl{
    .contents-row{
      @include box-shadow(0px 0px 4px 1px $gray);
      @include border-radius(30px);
      img{
        width: 2.7em;
      }
    }
    div{
      margin-left: 0px !important;
      margin-right: 0px !important;
      div{
        color: gray;
      }
    }
  }

  .v-line{
    border-left: 1px solid #dee2e6;
  }
  .bg-light-pink{
    background-color: $light-pink;
  }

  .supervisor-opinion{
    img{
      width: 4em;
    }
    .red{
      color: red;
    }
    @media only screen and (max-width: 515px){
      h4{
        font-size: 1em !important;
      }
    }
  }

}