$background: #fdf5e6;
$backgrounditem: #1c94e0;
$fontbold: "iransansBold";
$fontnormal: "iranasans";
$colortext: #fff;
$contentsize: 0.8rem;
$breakpoint-iphone5: 330px;
$colorcarousel: #1b93df;
$font-title: 0.9em;
$font-content: 0.8em;
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  // Output standard non-prefixed declaration
  #{$property}: $value;
}
.withmodal {
  .modal-content {
    top: 5em;
    left: 0em;
    right: 0em;
    width: 90%;
  }
}
.backgroundappp {
  background-image: url("../images/login_app_bg.png");
  // background-color: $background;
  height: 100vh;
  .goback {
    position: absolute;
    left: 0px;
    top: 19px;
    background-color: #1c94e0;
    padding: 1em;
    border-top-right-radius: 50em;
    border-bottom-right-radius: 50em;
    max-height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 66px;
    z-index: 5;
    .arrowback {
      font-size: 2em;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #fff;
      img {
        width: 20px;
      }
    }
  }
  .loginpwa {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerpwa {
    .title {
      font-family: $fontbold;
      font-size: 3rem;
      color: #626568;
      display: inline-block;
    }
    .text {
      background-color: $backgrounditem;
      border-radius: 50em;
      font-size: 0.8em;
      color: $colortext;
    }
    .site_url {
      font-family: ghoticregular;
      font-size: 1em;
    }
  }
  .swipe-pwa {
    .title-pwa {
      background-color: $backgrounditem;
      padding: 16px 0;
      box-sizing: border-box;
      color: white;
      min-height: 50px;
      font-size: 1.2em;
      text-align: center;
      flex: 1;
    }
    .content {
      padding: 10px;
      box-sizing: border-box;
      background-color: $backgrounditem;
      font-size: 18px;
      min-height: 50vh;
      .hospital {
        font-size: 0.8em;
        .css-151xaom-placeholder {
          font-size: 0.8em;
          font-family: iransansweb;
        }
        .css-dvua67-singleValue {
          font-size: 0.8em !important;
        }
        .css-fk865s-option {
          font-size: 0.8em;
        }
      }
      .title {
        color: $colortext;
        text-align: center;
        font-size: 0.9em;
      }
      .alarm {
        font-size: 0.8em;
        position: fixed;
        bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        right: 0;
        left: 0;
      }
      @media (max-width: $breakpoint-iphone5) {
        .alarm {
          font-size: 0.7em;
          position: fixed;
          bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          right: 0;
          left: 0;
        }
      }
    }
    .ReactSwipeableBottomSheet--open {
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
    }
    .ReactSwipeableBottomSheet--closed {
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
    }
    .react-swipeable-view-container {
      box-shadow: unset !important;
    }
    .border-select {
      border-radius: 50em;
      font-family: $fontbold;
      font-size: $contentsize;
    }
    .selectpwa {
      width: 100%;
      padding: 0.2rem;
    }

     .choseitem {
        color: #fff;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 50em;
        padding: 1em;
        font-size: 0.8em;
        font-family: "iransansBold";
        -webkit-appearance: unset;
        width: 200px;
        background: transparent;
    }
  }
  .login {
    .forgetpass {
      text-align: center;
      font-size: 0.8em;
      padding: 0px !important;
      margin: 0px !important;
      color: $colortext;
      position: relative;
      top: 0.4em;
    }
    input[type="text"],
    select.form-control {
      background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
    }

    input[type="text"]:focus,
    select.form-control:focus {
      background: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .user-input-wrp {
      position: relative;
      .inputlogin {
        padding-top: 0.3em;
      }
      .inputText {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid #fff;
        box-shadow: none !important;
        color: $colortext;
        background: transparent;
        font-size: 0.8em;
      }

      .inputText:focus {
        border-color: #fff;
        border-width: medium medium 2px;
      }
      .floating-label-user {
        position: absolute;
        pointer-events: none;
        right: 0px;
        transition: 0.2s ease all;
        color: $colortext;
        font-size: 0.7em;
      }
      .floating-label-pass {
        position: absolute;
        pointer-events: none;
        right: 0px;
        transition: 0.2s ease all;
        color: $colortext;
        font-size: 0.7em;
      }
      input:focus ~ .floating-label-user,
      input:not(:focus):valid ~ .floating-label-user {
        bottom: 60px;
        right: 10px;
        font-size: 13px;
        opacity: 1;
      }
      input:focus ~ .floating-label-pass,
      input:not(:focus):valid ~ .floating-label-pass {
        top: 45px;
        right: 10px;
        font-size: 13px;
        opacity: 1;
      }
    }
  }
  .headerpwa {
    .icons-loginpage {
      font-size: 12px;
      img {
        width: 100%;
      }
    }
    .text-loginpage {
      color: #51504f;
      font-size: 0.8em;
      font-family: iransans;
    }
  }
}

.ui-center {
  text-align: center;
}
////shourct caurosel page
.shourtcut-pwa {
  .nav {
    .ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin: 1em auto;
    }
  }
  h1 {
    margin: 1.5em;
    font-size: 24px;
    text-align: center;
  }
  .navbarstyleBottom {
    height: 10vh;
    background-color: #c8c6c7 !important ;
    box-shadow: -2px 0px 9px 1px rgba(0,0,0,0.44);
  }
  .navbarstyleTop {
    height: 10vh;
    background-color: #e3e3e3 !important ;
  }

  .carousel-container {
    height: 80vh;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    touch-action: pan-y;
  }

  .carousel-track {
    position: relative;
    display: flex;
    height: 100%;
  }

  .carousel-card {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex: 0 0 300px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
  }

  .carousel-card-inner {
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #717171;
    background: #fff;
  }

  .carousel-title {
    margin-top: 20px;
    font-size: 1.5em;
  }

  .carousel-text {
    padding: 1em 1em 1em 2em;
    font-size: 14px;
    white-space: pre-wrap;
    text-align: left;
    font-family: sans-serif;
  }

  .carousel-pagination-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 18%;
    display: flex;
    justify-content: center;
    pointer-events: none;
  }

  .carousel-pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 180px;
    padding: 0;
    flex-direction: row-reverse;
  }

  .carousel-pagination {
    li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(50, 50, 50, 0.5);
      margin: 0.3em;
    }

    .current {
      border-radius: 0;
      background: #1b93df;
      border-radius: 50em;
    }
  }
  .shotcut-pwa-icon {
    display: flex;
    position: relative;
    bottom: 2em;
    width: 100%;
    padding: 0px;
    justify-content: center;
    align-items: center;
    p {
      font-family: $fontbold;
      font-size: 0.7em;
    }
    img {
      width: 60px;
      position: relative;
      bottom: 1em;
    }
  }
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 18px;
 
}

.bm-burger-bars {
  background: #777777;
  height: 3px !important;
}
 

.bm-burger-bars-hover {
  background: #777777;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}
 

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0px
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  text-align: right;
}
 

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top:0
}
.carousel-card {

  color: #000 !important;
  background: #fff !important;
}
.itemcarousel{
  img{
    width:60px
  }
  .title{
    font-family: $fontbold;
    font-size: 0.7em;
    position: relative;
    top: 10px;
  }
}
.searchpwa {
  position: relative;
  top: 30px;
  height: 40px;
  border-radius: 50em;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.44);
  width: 280px;
}
.carousel-container {
  padding: 3em 0;
}
}
